@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* General Styling */

    html {  
        scroll-behavior: smooth;
    }

    body, ul, h1 {
        margin: 0;
    }
 
    body {
        font-family: "Lobster", cursive;
        background-color: antiquewhite;
    }

    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

/* Nav Styling */
    nav {
        background-color: #473615;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 0 2rem;
        position: sticky;
        top: 0;
        border: 1px solid black;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding:10px;
        align-items: baseline;
    }

    ul li {
        list-style: none;
    }

    ul li a{
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
    }

    ul li a:hover {
        letter-spacing: 3px ;
    }

    #logo {
        width: 25px;
        box-shadow: none;
    }

    #homelogo {
        margin-right: auto;
    }

    #homelogo h2 {
        letter-spacing: 0px;
        margin: 0;
    }


/* Dropdown Menu */
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        background-color: darkgray;
        position: absolute;
        opacity: 0;
        background-color: antiquewhite;
        border: 1px solid #473615;
        border-radius: 10px;
        gap: 10px;
    }

    .trigger-dropdown:hover .dropdown-menu  {
    opacity: 1;
    }

    .dropdown-menu a {
        color:#473615;
    }
/* Header Styling */
    .hero-img {
        background-image: url("../assets/cafe.jpg");
        height: 70vh;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }


    .hero-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.419);
        color: white;
        width: 80vw;
        text-align: center;
        padding: 2.5rem;
    }

    .hero-info p {
        width: 30vw;
        color: beige;
    }

    .hero-info h1 {
        font-size: 3rem;
        color: white;
    }

    .hero-info #anchors {
        font-size: 1.3rem;
        display: flex;
        gap: 20px;
    }

    .hero-info #anchors a {
        color:white;
        text-decoration: none;
    }


    .hero-info #anchors a:hover {
        letter-spacing: 2px;
        color:antiquewhite;
    }
    
    .btn{
        text-transform: uppercase ;
        background-color: #473615;
        color: white;
        padding: 1rem;
        border-radius: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
        transition: 0.3s;
    }

    .btn:hover {
        background-color: #342810;
        letter-spacing: 2px;
    }

/* Page Styling */

   img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    }

    .imgs, .about-imgs{
        display: flex;
        justify-content: center;
        margin: 5rem 0;
        gap: 25px;
    }

    hr {
        width: 40vw;
        border-color:lightgray;
        border-width: 0.5px;
    }

    figure {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 50vh;
        text-align: center;
        margin: 10px 0;
    }


    figure img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .about-img {
        height: 50vh;
        width: 50%;
        margin: 1.5rem 0;
    }

    .about-img figcaption {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        margin: 15px;
    }

    figcaption {
        margin: 15px;
    }

    .container {
        margin: 2rem 6rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .container h2 {
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .info h2 {
        text-align: center;
    }

    /* Media Query */
    @media only screen and (max-width: 768px) {

        .container {
            margin: 0;
        }

        .info {
            margin: 3rem;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .dropdown-menu {
            align-items: flex-start;
        }

        #homelogo {
            margin: 0;
        }

        .imgs, .about-imgs {
            flex-direction: column;
            margin: 1.5rem 0;
        }
      
        figure, .about-img {
            width: 100%;
        }

        .hero-info {
            width: 100vw;
            height: 100%;
            margin: 0;
            padding: 0;
            justify-content: center;
        }
        .hero-info p {
            width: 70vw;
        }
      }
      